

aiohttp==3.13.5
bs4==0.0.2
cloudscraper==1.2.71
colorama==0.4.6
cryptography==47.0.0
customtkinter==5.2.2
fake-useragent==2.2.0
h2==4.3.0
httpx==0.28.1
numpy==2.1.1
openai==2.32.0
paramiko==3.4.0
pefile==2024.8.26
pillow==10.4.0
PyAutoGUI==0.9.54
pyfiglet==1.0.4
pynput==1.8.1
pyperclip==1.11.0
PySocks==1.7.1
requests==2.33.1
rich==14.3.4
scapy==2.5.0
undetected-chromedriver==3.5.4
websocket-client==1.7.0
whois==1.20240129.2

opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
